.modalContainer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 120vh;
  z-index: 5;
}

.modalTitle {
  margin: 50px 50px 0 50px;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1em;
  color: black;
  color: white;
  /* these three together seem to centre text X and Y */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 50px;
  /* text-shadow: rgba(255, 255, 255, 1) 2px 2px 1px; */
  text-transform: uppercase;
  /* font-style: italic; */
}

modalh1 {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1em;
  font-size: 2em;
}

.modalInner {
  /* border-style: solid; */
  margin: 0 50px 50px 50px;
  padding: 5vh;
  font-size: 1em;
  font-weight: 800;
  line-height: 1em;
}

.modalSection {
  padding: 10px;
  margin: 10px;
}

.modalSectionTitle {
  border-style: solid;
  border-width: 0 3px 0 0;
  border-color: white;
  text-align: right;
}

#modal_CrimeInfo_Container {
  background: rgba(251, 141, 63, 0.9);
  background: linear-gradient(0, rgba(251, 141, 63, 0.8) 0%, rgba(252, 70, 107, 0.8) 100%);
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) sepia(70%);
  color: white;
}

#modal_CrimeInfo_Inner {
  background: #017fa2;
  background: linear-gradient(0, rgba(1, 127, 162, 1) 0%, rgba(100, 178, 240, 1) 100%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px) sepia(70%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10 1fr);
}

#modal_Settings_Container {
  background: repeating-linear-gradient(-45deg, black 0%, black 4.999%, yellow 5%, yellow 10%);
}

#modal_Settings_Inner {
  background: repeating-linear-gradient(45deg, black 0%, black 4.999%, yellow 5%, yellow 10%);
  background: linear-gradient(0deg, #845ec2 0%, #d65db1 20%, #ff6f91 40%, #ff9671 60%, #ffc75f 80%, #f9f871 100%);
  background: radial-gradient(at 50% 100%, #845ec2 0%, #d65db1 20%, #ff6f91 40%, #ff9671 60%, #ffc75f 80%, #f9f871 100%);
}

#modal_About_Container {
  top: -100px;
  background: black;
  display: none;
  justify-content: center;
}

#modal_About_Inner {
  font-size: 30px;
  color: white;
  line-height: 0.5em;
  transform: perspective(200px) rotateX(5deg);
  border-style: none;
}
