:root {
  --background-color: black;
  --color-A: #9400d3;
  --color-A2: #520075;
  --color-B: #f44174;
  --color-B2: ##ef3601;
  --color-C: #f9dc5c;
  --color-D: #01baef;
  --color-D2: #017fa2;
  --color-D3: #045a72;
  --color-D4: #043947;
  --color-E: #171738;
  --color-E2: #472e6d;

  --color-F: #09bc8a;
  --color-G: #8fd694;
  --color-H: #333333;
  --color-I: #df1b1b;
  --tab4-Active: #e51e5e;
  --tab4-Inactive: #b35976;
  --tab3-Active: #e6962e;
  --tab3-Inactive: #b38a59;
  --tab2-Active: #2e8ae6;
  --tab2-Inactive: #598ab3;
  --tab1-Active: #21e5b7;
  --tab1-Inactive: #59b39e;

  --hover-color: linear-gradient(0deg, rgba(251, 141, 63, 1) 0%, rgba(252, 70, 107, 1) 100%);
  /* --running-color: linear-gradient(0deg, rgba(34, 118, 195, 1) 0%, rgba(119, 202, 255, 1) 100%); */
  /* --running-color: rgba(34, 118, 195, 1); */
  /* --running-color: radial-gradient(circle, rgba(49, 122, 255, 1) 0%, rgba(43, 110, 232, 1) 100%); */
  --running-color: radial-gradient(circle, rgba(38, 132, 218, 1) 0%, rgba(34, 118, 195, 1) 100%);
  --neighbourhood-color: radial-gradient(circle, rgba(0, 159, 255, 1) 0%, rgba(0, 147, 236, 1) 100%);
  /* --complete-color: linear-gradient(0deg, rgba(195, 53, 34, 1) 0%, rgba(255, 119, 161, 1) 100%); */
  --complete-color: linear-gradient(
    0deg,
    rgba(255, 199, 135, 0.8) 0%,
    rgba(180, 84, 0, 0.8) 30%,
    rgba(113, 56, 0, 0.8) 35%,
    rgba(255, 255, 255, 0.8) 36%,
    rgba(0, 155, 255, 0.8) 100%
  );
  --border-color: white;
  --link-color: white;
  --stats-color: var(--color-D);
  --inv-color: var(--color-B);
  font-family: "Source Code Pro", monospace;
  background: var(--background-color);
  font-weight: 400;
  color: var(--palette-6);
  line-height: 70%;
  user-select: none;
}

a {
  color: var(--palette-4dim);
  text-decoration: none;
}

a:hover {
  color: var(--palette-4bright);
}

pre {
  font-family: "Share Tech Mono", monospace;
  font-family: "Courier Prime", monospace;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 1000;
  letter-spacing: -0.05em;
  font-size: 1.5em;
}

b {
  color: #01baef;
}

c {
  color: #9400d3;
}

d {
  color: #f9dc5c;
}

e {
  color: brown;
}
#everythingContainerID {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-grow: 0;
  max-width: 90vw;
  max-height: 95vh;
  min-height: 95vh;
}

.modalContainer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.modalInner {
  border-style: solid;
  margin: 5vh;
  padding: 5vh;
  font-size: 1em;
  font-weight: 800;
  line-height: 1em;
}

#modal_CrimeInfo_Container {
  background: rgba(251, 141, 63, 0.9);
  background: linear-gradient(0, rgba(251, 141, 63, 0.8) 0%, rgba(252, 70, 107, 0.8) 100%);
  color: black;
}

#modal_CrimeInfo_Inner {
  background: #017fa2;
  background: linear-gradient(0, rgba(1, 127, 162, 1) 0%, rgba(100, 178, 240, 1) 100%);
}

#modal_Settings_Container {
  background: repeating-linear-gradient(-45deg, black 0%, black 4.999%, yellow 5%, yellow 10%);
}

#modal_Settings_Inner {
  background: repeating-linear-gradient(45deg, black 0%, black 4.999%, yellow 5%, yellow 10%);
  background: linear-gradient(0deg, #845ec2 0%, #d65db1 20%, #ff6f91 40%, #ff9671 60%, #ffc75f 80%, #f9f871 100%);
  background: radial-gradient(at 50% 100%, #845ec2 0%, #d65db1 20%, #ff6f91 40%, #ff9671 60%, #ffc75f 80%, #f9f871 100%);
}

#modal_About_Container {
  background: black;
}

#modal_About_Inner {
  font-size: 2em;
  color: white;
  line-height: 0.5em;
}

#settingsCloseButtonID {
  padding: 2em;
  color: wheat;
  border-style: solid;
  border-color: black;
  margin: 1em;
  background: black;
  font-size: 2em;
  /* justify-content: center; */
}

#settingsClearCookiesButtonID {
  padding: 2em;

  color: red;
  border-style: solid;
  border-color: black;
  margin: 1em;
}

#settingsLinkID:hover {
  color: white;
}
#aboutLinkID:hover {
  color: white;
}

#titleContainerID {
  display: flex;
  margin: 10 auto;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 90vw;
  max-height: 25vh;
  /* border-style: solid; */
  align-content: flex-start;
  flex-flow: row;
  /* border-style: dotted; */
  border-color: var(--palette-5);
  overflow: hidden;
}

#titleID {
  padding: 0 0 0 1vw;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 0.9vmin;
  line-height: 0.9em;
}

#titleAndVersionID {
  padding: 0.5vh;
  line-height: 100%;
  color: var(--palette-3dim);
}

#titleLinksID {
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: normal;
  align-self: top;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 1vh;

  position: fixed;
  right: 5vw;
  color: var(--palette-3dim);
}

#personnelID {
  border-style: dotted;
  border-top: 0;
  border-color: var(--palette-6);
  padding: 0.5em;
}

#gameContainerID {
  align-content: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 85vh;
}

#tabContainerID {
  display: flex;
  flex: 1;
  flex-flow: row;
  justify-content: space-evenly;
  max-height: 4vh;
  min-height: 4vh;
}

.tabs {
  display: flex;
  flex: 1;
  padding: 1vh;
  margin: 0.2vh 0.2vh 0 0.2vh;
  font-size: 1.5vh;
  font-weight: 800;
  justify-content: right;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.tabs[data-tabState="active"] {
  color: white;
}
.tabs[data-tabState="inactive"] {
  color: black;
}

.tabs[data-tabState="inactive"]:hover {
  color: white;
}

#tabA_ID[data-tabState="active"] {
  background-color: var(--tab1-Active);
}
#tabA_ID[data-tabState="inactive"] {
  background-color: var(--tab1-Inactive);
}
#tabB_ID[data-tabState="active"] {
  background-color: var(--tab2-Active);
}
#tabB_ID[data-tabState="inactive"] {
  background-color: var(--tab2-Inactive);
}
#tabC_ID[data-tabState="active"] {
  background-color: var(--tab3-Active);
}
#tabC_ID[data-tabState="inactive"] {
  background-color: var(--tab3-Inactive);
}
#tabD_ID[data-tabState="active"] {
  background-color: var(--tab4-Active);
}
#tabD_ID[data-tabState="inactive"] {
  background-color: var(--tab4-Inactive);
}
#tabE_ID[data-tabState="active"] {
  background-color: var(--tab5-Active);
}
#tabE_ID[data-tabState="inactive"] {
  background-color: var(--tab5-Inactive);
}

#gizmoContainer_ID[data-backgroundcolor="0"] {
  border-color: var(--tab1-Active);
}
#gizmoContainer_ID[data-backgroundcolor="1"] {
  border-color: var(--tab2-Active);
}
#gizmoContainer_ID[data-backgroundcolor="2"] {
  border-color: var(--tab3-Active);
}
#gizmoContainer_ID[data-backgroundcolor="3"] {
  border-color: var(--tab4-Active);
}
#gizmoContainer_ID[data-backgroundcolor="4"] {
  border-color: var(--tab5-Active);
}
.gizmoContainer {
  background-color: black;
  margin: 0 0.2vh 0.2vh 0.2vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  font-size: 1.2vh;
  justify-content: space-around;
  height: 100%;
  border-style: solid;
  border-width: 0.8vh;
}

.gizmoBase {
  display: flex;
  flex-flow: column;
  background-color: #333333;
  width: 15vh;
  height: 15vh;
  margin: 1vh;
  letter-spacing: -0.05em;
  /* border-style: solid; */
  border-width: 0.5vh;
  border-color: var(--palette-2vdim);
}

.gizmoTitle {
  background-color: var(--palette-5);
  color: var(--palette-5);
  color: white;
  padding: 0.5vh;
  /* border-width: 0.1vh;
  border-style: solid;
  border-color: var(--color-I); */
  /* margin: 0.5vh; */
  line-height: 90%;
  justify-items: right;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
}

.gizmoTitle:hover {
  background-color: var(--palette-5bright);
  background: linear-gradient(0deg, var(--palette-5) 0%, var(--palette-5bright) 100%);
  background: radial-gradient(circle, var(--palette-5bright) 0%, var(--palette-5) 100%);
}

.gizmoProgress {
  background-color: var(--palette-4);
  /* margin: 0.5vh 0 0 0; */
  padding: 0.2em;
  line-height: 1em;
  color: black;
}

.gizmoRecruitContainer {
  display: flex;
  flex-direction: row;
}
.gizmoRecruitButton {
  padding: 0.3em;
  font-size: 2em;
  background-color: var(--palette-2dim);
  flex: 1;
  text-align: center;
}

.gizmoRecruitButton[data-buttonState="active"] {
  color: var(--palette-5bright);
}
.gizmoRecruitButton[data-buttonState="inactive"] {
  color: var(--palette-5vdim);
}

.gizmoRecruitButton[data-buttonState="active"]:hover {
  background-color: var(--palette-2);
  background: radial-gradient(circle, var(--palette-2bright) 0%, var(--palette-2dim) 75%);
  color: white;
}

.criminalText {
  text-align: center;
  line-height: 1em;
  color: white;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: black;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--palette-6);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: white;
}
